/*Homepage*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: -webkit-linear-gradient(to right, #eaffdo, #95e1d3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaffdo, #95e1d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img1 { background-image: url("./images/1.jpg"); }
  .img2 { background-image: url("./images/2.jpg"); }
  .img3 { background-image: url("./images/3.jpg"); }
  .img4 { background-image: url("./images/4.jpg"); }
  .img5 { background-image: url("./images/5.jpg"); }

  

  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45vw;
    padding: 20px;
    text-align: center;
  }

  h4 {
    margin: 0px;
    color: white;
    font-weight: bold;
    font-size: 80px;
  }

  p {
      margin: 0px;
      color: white;
      font-weight: normal;
      font-size: 15px;
      padding-bottom: 5px;
  }

  .linkshome {
    color:white;
    flex-direction: row;
    justify-content: center;
    list-style-type:none;
  }

  /* About Me */
  body {
    font-family: "Raleway", sans-serif;
  }
  
  .sidenav {
    background: #FCE38A;
    grid-area: sidenav;
    display: flex;
    flex-direction: column;

  }
    .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }

  .links {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    list-style-type:none;
  }

  .aboutbody {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: "sidenav" "main";
  }

  .main {
    grid-area: "main";
    margin-left: 10px;
  }

  .main h2 {
    margin-left:-50px;
  }

  .main p {
    color: black;
    margin-right:40%;
  }

  .main h5 {
    color: black;
    font-size: 30px;
    margin: 20px;
  }

  .LauraImage {
    width: 80%;
    height: auto;
    padding-left:50px;
  }

  /*Contacts*/
  body {
    font-family: "Raleway", sans-serif;
  }
  
  .sidenavsocial {
    background: #FCE38A;
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    width: 200px;

  }
    .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }

  .links {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    list-style-type:none;
  }

  .socialmediabody {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: "sidenav" "main";
  }

  .main {
    grid-area: "main";
    margin-left: 10px;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    padding-left:50px;
  }

  /*a {
    position:center;
    padding: 50px;
  }*/

  .socials img:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

  .socials img {
    margin: 2px;
  }


  /*Gallery*/

  .gallery {
    font-family: "Raleway", sans-serif;
    background-color: #FCE38A;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    grid-template-areas: "sidenavgallery" "maingallery";
  }

  .sidenavgallery {
    background: #FCE38A;
    grid-area: sidenavgallery;
    display: flex;
    flex-direction: column;
    width: 30%;

  }
    .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }

  .links {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    list-style-type:none;
  }


  .maingallery {
    grid-area: "maingallery";
    margin-left: 10px;
  }